asn1crypto==0.22.0
beautifulsoup4==4.5.3
certifi==2018.1.18
cffi==1.10.0
chardet==3.0.4
click==6.7
cryptography==2.0.3
Flask==0.12.2
gunicorn==19.1.0
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
ndg-httpsclient==0.4.3
PasteDeploy==1.5.2
pusher==1.7.2
pyasn1==0.3.4
pycparser==2.18
pyOpenSSL==17.2.0
requests==2.18.4
six==1.10.0
urllib3==1.22
Werkzeug==0.12.2
pdfminer.six

