<!DOCTYPE html>

<head>
  <title>Kafi Server/Client</title>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('992c38e3b215e9dd3ded', {
      cluster: 'eu',
      encrypted: true
    });

    var channel = pusher.subscribe('kafi-channel');
    channel.bind('kafi-event', function(data) {
      alert(data.message);
    });
  </script>
    <style>
        ul {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }
    </style>
</head>

<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ________________________
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| Hoi! Kafi Server hier. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| Es ist schön ois kanne z'lärne. |
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; / /`````````````````````````````````
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; / /<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__/
  <br>^_^ ```
  <br><br><br><br>
</p>
<p>
How do you answer:
<ul>
    <li><a href="/want">I want Kafi!</a></li>
    <li><a href="/brewing">Kafi is brewing...</a></li>
    <li><a href="/done">I "maked" Kafi! (good guy you)</a></li>
    <li><a href="/merci">Sag merci</a></li>
</ul>
</p>
-------------------------------------------------------
<p>
Hungry? Here are today's menus:
<div class="columwrapper">
{%- for menu in menus %}

    <ul class="column-{{ loop.index }}">
        Menu {{  loop.index }}
        {%- for item in menu %}
            <li>{{ item }}</li>
        {%- endfor %}
    </ul>
{%- endfor %}
</div>
</p>
-------------------------------------------------------
<p>
Breaking News: {{  news }}
</p>